section#contact-info p {
		font-size: .8em;

}

.job {
		background-color: #e9e5dc;
		border-radius: 15px;
		margin: 10px;
}

.small-font {
		font-size: .8em;

}

section#contact-info a:link {
		color: purple;			
}


section#contact-info a:hover {
		color: purple;
		font-size: 30px;			
}

section#work-experience h2.experience-category {
	color: orange;
}

section#work-experience ul li.featured {
	font-weight: bold;
}



